body {

    background-color: #eceff1;
}

._cursor-style {

    cursor: pointer;
}

._hover-color:hover {

    background-color: #b0bec5 !important;
}

._loader {

    position: relative;
    margin-top: 20%;
    margin-left: 45%;
}

._sidenav-icon {

    margin-left: 32%;
    margin-top: 5%;
}

._sidenav-text {

    margin-left: 10%;
    font-size: x-large;
}

._divider {

    margin-top: 10%;
}

._collection-header-text {

    font-size: 40px;
    color: #78909c;
}

._collection-header-icon {

    margin-left: 1%;
    color: #78909c;
    font-size: 32px;
}

._collection-item-text {

    color: #90a4ae;
    font-size: large;
}

#main-content {

    margin-top: 1%;
}

._sidenav-trigger {

    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

._sidenav-trigger i {

    height: 56px;
    line-height: 56px;
}

.collection li:not(:first-child) {

    border: 0px !important;
}

.collection li {

    background-color: #fafafa !important;
}

.progress {

    background-color: #e0e0e0 !important;
}

._charging-progress {

    height: 7px !important;
    width: 50% !important;
    /* 50% */
}

.determinate {

    background-color: #80cbc4 !important;
}

._batterylevel-text {

    font-size: x-large;
    color: #90a4ae;
}

._battery-charging-indicator {

    color: #90a4ae;
}

.nav-wrapper {

    background-color: #607d8b !important;
}

._flags-style {

    text-align: center;
    color: #0BACA1;
    font-size: large;
}

._soft-ver {

    color: #90a4ae;
    text-align: right;
}

._table-container {

    background-color: #fafafa;
    padding: 1%;
    margin-top: .5%;
    border: .5px solid #e0e0e0;
}

._table-header-icon {

    margin-left: .5%;
    color: #78909c;
    font-size: 32px;
}

._table-td {

    color: #0BACA1;
    font-size: large;
    border: .5px solid #e0e0e0;
}

._table-header-container {

    border-bottom: .5px solid #e0e0e0;
    padding-bottom: 1%;
}

._canvas-container {

    width: 30%;
    height: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media only screen and (min-width: 1134px) {

    ._sidenav-trigger {

        display: none;
    }
}

@media only screen and (max-width: 1133px) {

    ._nav-link-list {

        display: none !important;
    }

    ._sidenav-trigger,
    ._sidenav-trigger i {

        height: 64px;
        line-height: 64px;
    }
}

.table-responsive {

    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

._drives-table {
    margin-bottom: 1%;
}

._loader-container {

    background-color: #fafafa;
    border: .5px solid #e0e0e0;
    margin-top: .8%;
    padding-top: 6%;
    padding-bottom: 2%;
}

._storage-progress {

    height: 20px;
}

._total-storage-text {

    font-size: x-large;
    color: #90a4ae;
}

._storage-text {

    font-size: large;
    color: #90a4ae;
}

._free-storage-text {
    float: right;
}

._graph-container {

    background-color: #fafafa;
    padding: 2%;
    margin-top: .9%;
    border: .5px solid #e0e0e0;
}

._app-name-container {
    color: #607d8b;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 5%;
}

._version-heading {
    color: #78909c;
    font-size: x-large;
}

._version {
    color: #90a4ae;
    font-size: large;
    float: right;
}

._btn-container {
    margin-top: 5%;
}

.btn-large {
    width: 200px;
}